//DEXENTRY

.entry-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.entry-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 35px 250px;
  padding: 25px 0px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 3px 3px 10px #383c3d;

  & img{
    flex: auto;
    max-width: 500px;
    max-height: 500px;
  }
  
}

.entry-button-container{
  display:flex;
  justify-content:space-between;
  margin: 20px 60px 0px 60px;
  
  & .previous-button {
    font-size: 1.5em;
    margin: 25px;
    border-radius: 3px;
    background-color: #ee1515;
    color:  #ffffff;
  }

  & .next-button {
    font-size: 1.5em;
    margin: 25px;
    border-radius: 3px;
    background-color: #ee1515;
    color:  #ffffff;
  }

  & button:hover {
    color: #222224;
  }
}
  
  .entry-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 35px 350px;
    padding: 25px 0px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 3px 3px 10px #383c3d;
  
    & img{
      flex: auto;
      max-width: 500px;
      max-height: 500px;
    }
  }
  
  .entry-display-types{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  // stat bars

  .stats {
    width: 100%;
    max-width: 600px;
  }

  .stat-name {
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin: 20px 0;
  }

  .stat-bar {
    height: 14px;
    background-color: rgba(176, 176, 176, 0.379);
    border-radius: 10px;
  }

  .stat-HP {
    height: 14px;
    background-color: rgb(48, 176, 20);
    border-radius: 10px;
  }

  .stat-attack {
    height: 14px;
    background-color: rgb(236, 16, 0);
    border-radius: 10px;
  }

  .stat-defence {
    height: 14px;
    background-color: rgb(255, 159, 3);
    border-radius: 10px;
  }

  .stat-Sp-attack {
    height: 14px;
    background-color: rgb(255, 23, 251);
    border-radius: 10px;
  }

  .stat-Sp-defence {
    height: 14px;
    background-color: rgb(130, 23, 94);
    border-radius: 10px;
  }

  .stat-speed {
    height: 14px;
    background-color: rgb(244, 81, 6);
    border-radius: 10px;
  }


  .entry-display-types{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
