
body {
  top: 0;
  left: 0;
  margin: 0;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e8e8e8;
}

//HOME

.title-container{
  display: flex;
  justify-content: center;
  align-content: center;
}

.theme-container{
  display: flex;
  justify-content: center;
  align-content: center;
}
.intro-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px 100px;
  text-align: center;
}


//NAV

.nav-container{
  background-color: #E54222;
  padding: 30px;
  text-align: center;
 
  & a{
    text-decoration: none;
    margin: 0px 10px;
    font-size: 24px;
    color:white;
  }

  & a:hover{
    color: #2a75bb;
  }
  
}

//DEX

.dex-card{
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
  justify-content: space-around;
  & img {
  max-width: 300px;
  min-height: 300px;
  object-fit: cover;
  background-color: white;
  }
  & p {
    text-align: center;
  }
}

.dex-wapper {
   margin: 5px;
}

.Type-box {
  display: inline;
  & p {
    border-radius: 6px;
    box-shadow: black;
    text-align: center;
  }
}

//ADD

.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 10px 5px;
  margin: 35px 250px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 3px 3px 10px #383c3d;

  & h2{
    text-align: center;
  }
 
  & label {
    margin: 10px;
  }
  & input {
    margin: 10px;
  }

  & button {
    margin: 10px 85px;
  }
}

.upload-image-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

  & button {
    margin: 2px 2px;
  }
}

.name-label{
  padding-right: 38px;
}

.type-1-label{
  padding-right: 30px;
}

.type-2-label{
  padding-right: 30px;
}

.hp-label{
  padding-right: 55px;
}

.attack-label{
  padding-right: 35px;
}

.defence-label{
  padding-right: 23px;
}

.sp-attack-label{
  padding-right: 12px;
}

.speed-label{
  padding-right: 35px;
//ABOUT

.about-h2 {
  text-align: center;
  font-size: 3em;
}

.about-team-img {
  text-align: center;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px;
}

.about-text {
  margin: 40px;
  font-size: 1.5em;
}

//TYPE

.type-Normal{
 background-color: #A8A77A;
}

.type-Fire{
  background-color: #EE8130;
  color:white;
 }

 .type-Water{
  background-color: #6390F0;
  color:white;
 }

 .type-Grass{
  background-color: #7AC74C;
 }

 .type-Electric{
  background-color: #F7D02C;
 }

 .type-Ice{
  background-color: #96D9D6;
 }

 .type-Fighting{
  background-color: #C22E28;
  color:white;
 }

 .type-Poison{
  background-color: #A33EA1;
  color:white;
 }

 .type-Ground{
  background-color: #E2BF65;
 }

 .type-Flying{
  background-color: #A98FF3;
  color:white;
 }

 .type-Psychic{
  background-color: #F95587;
  color:white;
 }

 .type-Bug{
  background-color: #A6B91A;
  color:white;
 }

 .type-Rock{
  background-color: #B6A136;
  color:white;
 }

 .type-Ghost{
  background-color: #735797;
  color:white;
 }

 .type-Dark{
  background-color: #705746;
  color:white;
 }

 .type-Dragon{
  background-color: #6F35FC;
  color:white;
 }

 .type-Steel{
  background-color: #B7B7CE;
 }

 .type-Fairy{
  background-color: #D685AD;
 }

 // Dex Entry

//  .dexentry-container {
//   display: flex;
//  }




