//NAV

.nav-container{
    background-color: #ee1515;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
   
    & a {
      text-decoration: none;
      margin: 0px 10px;
      font-size: 24px;
      color:white;
    }
  
    & a:hover { 
      color: #222224;
    }
  
    & .nav-main {
      justify-content: flex-start;
    }
    
    & .logout-a {
      justify-content: flex-end;
    }
  }
  
  .nav-log {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin: 2rem;
    font-size: 2em;
    color: #222224;
    & a {
      color: #222224;
      text-decoration: none;
    }
  }
  .login-a:hover {
    color: #6390F0;
  }
  .register-a:hover {
    color: #6390F0;
  }