//TYPES

.type-Normal{
    background-color: #A8A77A;
    border-radius: 6px;
    box-shadow: black;
    padding: 5px 10px;
   }
   
   .type-Fire{
     background-color: #EE8130;
     color:white;
     border-radius: 6px;
     box-shadow: black;
     padding: 5px 10px;
    }
   
    .type-Water{
     background-color: #6390F0;
     color:white;
     border-radius: 6px;
     box-shadow: black;
     padding: 5px 10px;
    }
   
    .type-Grass{
     background-color: #7AC74C;
     border-radius: 6px;
     box-shadow: black;
     padding: 5px 10px;
    }
   
    .type-Electric{
     background-color: #F7D02C;
     border-radius: 6px;
     box-shadow: black;
     padding: 5px 10px;
    }
   
    .type-Ice{
     background-color: #96D9D6;
     border-radius: 6px;
     box-shadow: black;
     padding: 5px 10px;
    }
   
    .type-Fighting{
     background-color: #C22E28;
     color:white;
     border-radius: 6px;
     box-shadow: black;
     padding: 5px 10px;
    }
   
    .type-Poison{
     background-color: #A33EA1;
     color:white;
     border-radius: 6px;
     box-shadow: black;
     padding: 5px 10px;
    }
   
    .type-Ground{
     background-color: #E2BF65;
     border-radius: 6px;
     box-shadow: black;
     padding: 5px 10px;
    }
   
    .type-Flying{
     background-color: #A98FF3;
     color:white;
     border-radius: 6px;
     box-shadow: black;
     padding: 5px 10px;
    }
   
    .type-Psychic{
     background-color: #F95587;
     color:white;
     border-radius: 6px;
     box-shadow: black;
     padding: 5px 10px;
    }
   
    .type-Bug{
     background-color: #A6B91A;
     color:white;
     border-radius: 6px;
     box-shadow: black;
     padding: 5px 10px;
    }
   
    .type-Rock{
     background-color: #B6A136;
     color:white;
     border-radius: 6px;
     box-shadow: black;
     padding: 5px 10px;
    }
   
    .type-Ghost{
     background-color: #735797;
     color:white;
     border-radius: 6px;
     box-shadow: black;
     padding: 5px 10px;
    }
   
    .type-Dark{
     background-color: #705746;
     color:white;
     border-radius: 6px;
     box-shadow: black;
     padding: 5px 10px;
    }
   
    .type-Dragon{
     background-color: #6F35FC;
     color:white;
     border-radius: 6px;
     box-shadow: black;
     padding: 5px 10px;
    }
   
    .type-Steel{
     background-color: #B7B7CE;
     border-radius: 6px;
     box-shadow: black;
     padding: 5px 10px;
    }
   
    .type-Fairy{
     background-color: #D685AD;
     border-radius: 6px;
     box-shadow: black;
     padding: 5px 10px;
    }
   